<html>

<head>
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
  <form action="/rects/add" method="POST">
    <label for="height">Height:</label><br>
    <input type="text" id="height" name="height"><br>

    <label for="width">Width:</label><br>
    <input type="text" id="width" name="width"> <br>

    <label for="colour">Color:</label><br>
    <input type="text" id="colour" name="colour"><br>

    <input type="submit" value="Submit Rectangle">
  </form>
  <a href="/rects/view">View all rectangles</a>
</body>

</html>